<div class="header">
  <h4>Loan List</h4>
</div>
<table id="data-table">
  <tr>
    <th>Id</th>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Total Amount</th>
    <th>Total Paid Amount</th>
  </tr>
  <tr *ngFor="let loan of loans" >
    <td>
      {{loan.id}}
    </td>
    <td>{{loan.sender}}</td>
    <td>{{loan.receiver}}</td>
    <td>{{loan.totalAmount}}</td>
    <td>
      <a routerLink="../payments" class="link" [state]="loan.installments"> {{loan.totalPaidAmount}}</a>
     </td>
  </tr>
</table>
<app-pagination [pagination]="pagination" (paginationChanged)="onPaginationChange($event)"></app-pagination>
